# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [286]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [287]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())

students_total = len(student_data["Student ID"].unique())

average_math_score = school_data_complete['math_score'].mean()

average_reading_score = school_data_complete["reading_score"].mean()

budget_total = school_data["budget"].sum()

math_percent = (school_data_complete[school_data_complete["math_score"] >= 70].math_score.count()) / students_total

reading_percent = (school_data_complete[school_data_complete["reading_score"] >= 70].reading_score.count()) / students_total

passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  students_total

In [288]:
math_percent = (school_data_complete[school_data_complete["math_score"] >= 70].math_score.count()) / students_total
math_percent

0.749808526933878

In [289]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students":[students_total],
                           "Total Budget":[budget_total],
                            "Average Math Score": [average_math_score],
                          "Average Reading Score":[average_reading_score],
                           "% Passing Math":[math_percent*100],
                           "% Passing Reading":[reading_percent*100],
                            "% Overall Passing":[overall_passing_rate*100]
                          })
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.0f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.0f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.0f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.0f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.0f}%".format)



# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79%,82%,75%,86%,65%

## School Summary

In [290]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
# Calculate the total student count
per_school_counts = school_data_complete["school_name"].value_counts()
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = (school_data_complete.loc[school_data_complete["math_score"]>=70])["school_name"].value_counts()/per_school_counts*100
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = (school_data_complete.loc[school_data_complete["reading_score"]>=70])["school_name"].value_counts()/per_school_counts*100
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math / per_school_counts * 100
per_school_passing_reading = school_passing_reading / per_school_counts * 100

passing_both = passing_math_and_reading.groupby(["school_name"])

overall_passing_rate = (passing_both["reading_score"].count()/per_school_counts) * 100

In [291]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type":school_types, 
                                   "Total Students":per_school_counts, 
                                   "Total School Budget":per_school_budget,
                                   "Per Student Budget":per_school_capita ,
                                   "Average Math Score" :per_school_math,
                                  "Average Reading Score":per_school_reading,
                                  "% Passing Math":school_passing_math, 
                                  "% Passing Reading":school_passing_reading,
                                  "Overall Passing Rate":overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.0f}%".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.0f}%".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.0f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.0f}%".format)
per_school_summary["Overall Passing Rate"] = per_school_summary["Overall Passing Rate"].map("{:,.1f}%".format)
# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77%,81%,67%,82%,54.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83%,84%,94%,97%,91.3%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,77%,81%,66%,81%,53.2%
Ford High School,District,2739,"$1,763,916.00",$644.00,77%,81%,68%,79%,54.3%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83%,84%,93%,97%,90.6%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77%,81%,67%,81%,53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,84%,84%,93%,96%,89.2%
Huang High School,District,2917,"$1,910,635.00",$655.00,77%,81%,66%,81%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77%,81%,66%,81%,53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,84%,84%,95%,96%,90.5%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,77%,81%,66%,80%,53.0%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83%,84%,94%,96%,89.9%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83%,84%,93%,97%,90.9%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83%,84%,94%,97%,90.6%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,84%,84%,93%,97%,90.3%

## Highest-Performing Schools (by % Overall Passing)

In [292]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_5 = per_school_summary.sort_values(by='Overall Passing Rate', ascending=False).head(5)
top_5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83%,84%,94%,97%,91.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83%,84%,93%,97%,90.9%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83%,84%,93%,97%,90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83%,84%,94%,97%,90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,84%,84%,95%,96%,90.5%

## Bottom Performing Schools (By % Overall Passing)

In [293]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bot_5 = per_school_summary.sort_values(by='Overall Passing Rate', ascending=True).head(5)
bot_5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,77%,81%,66%,80%,53.0%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,77%,81%,66%,81%,53.2%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77%,81%,67%,81%,53.5%
Huang High School,District,2917,"$1,910,635.00",$655.00,77%,81%,66%,81%,53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77%,81%,66%,81%,53.5%

## Math Scores by Grade

In [294]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"])["math_score"].mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"])["math_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_graders_scores,
                                     "10th":tenth_graders_scores,
                                     "11th":eleventh_graders_scores,
                                     "12th":twelfth_graders_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade.head()

                            9th       10th       11th       12th
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

In [295]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_graders_scores,
                                     "10th":tenth_graders_scores,
                                     "11th":eleventh_graders_scores,
                                     "12th":twelfth_graders_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade.head()

                            9th       10th       11th       12th
Bailey High School    81.303155  80.907183  80.945643  80.912451
Cabrera High School   83.676136  84.253219  83.788382  84.287958
Figueroa High School  81.198598  81.408912  80.640339  81.384863
Ford High School      80.632653  81.262712  80.403642  80.662338
Griffin High School   83.369193  83.706897  84.288089  84.013699

## Scores by School Spending

In [296]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [297]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [298]:
school_data_complete["Spending Ranges"] = pd.cut(school_data_complete['budget']/school_data_complete['size'], spending_bins, labels=group_names)

# group by spending
school_summary_by_spending = school_data_complete.groupby("Spending Ranges")

# get averages
avg_math = school_summary_by_spending['math_score'].mean()
avg_read = school_summary_by_spending['reading_score'].mean()
 
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100

overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('Spending Ranges')['Student ID'].count()/school_summary_by_spending['Student ID'].count()*100
summary_table_bins = pd.DataFrame({
                                    "Average Math Score": avg_math,
                                    "Average Reading Score": avg_read,
                                    "% Passing Math":pass_math,
                                    "% Passing Reading": pass_read,
                                    "% Overall Passing Rate":overall 
                                    })
summary_table_bins.index.name = "Spending Ranges (Per Student)"
summary_table_bins = summary_table_bins.reindex(group_names)
summary_table_bins

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.363065,83.964039,93.702889,96.686558,90.640704
$585-630,79.982873,82.312643,79.109851,88.513145,70.939239
$630-645,77.821056,81.301007,70.623565,82.600247,58.841194
$645-680,77.049297,81.005604,66.230813,81.109397,53.528791

# Schools by School Size

In [307]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [308]:
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)

# group by size
by_size = school_data_complete.groupby('size_bins')

# get averages 
average_math = by_size['math_score'].mean()
average_read = by_size['math_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
pasing_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()*100

            
# create dataframe            
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': pasing_read,
    "Overall Passing Rate": overall
    })

scores_by_size.index.name = "School Size"
scores_by_size = scores_by_size.reindex(group_names)
scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.828654,83.828654,93.952484,96.040317,90.136789
Medium (1000-2000),83.372682,83.372682,93.616522,96.773058,90.624267
Large (2000-5000),77.477597,77.477597,68.652380,82.125158,56.574046

## Scores by School Type

In [309]:
# group by school type
by_type = school_data_complete.groupby("type")

# get averages 
average_math = by_type['math_score'].mean()
average_read = by_type['math_score'].mean()
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
passing_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()*100

# Assemble the new data by type into a DataFrame called `type_summary`            
type_summary = pd.DataFrame({
    "Average Math Score": average_math,
    "Average Reading Score": average_read,
    '% Passing Math': passing_math,
    '% Passing Reading': passing_read,
    "Overall Passing Rate": overall})
type_summary.index.name = "School Type"
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.406183,83.406183,93.701821,96.645891,90.560932
District,76.987026,76.987026,66.518387,80.905249,53.695878